<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ page.title | default: site.title }}</title>
  <meta name="description" content="{{ page.excerpt | strip_html | strip_newlines | default: site.description }}">
  <link rel="stylesheet" href="{{ '/assets/hacker.css' | relative_url }}">
</head>

<body>
  {% include header.html %}
  <main style="max-width:900px;margin:1rem auto;padding:0 1rem;">
    {{ content }}
  </main>
  {% include footer.html %}
</body>

</html>